<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <!--<add name="StorageConnectionString" connectionString="UseDevelopmentStorage=true" />-->
    <add name="StorageConnectionString" connectionString="DefaultEndpointsProtocol=http;AccountName=fourthqaportal;AccountKey=EUD9Z7atgkxm5Q+8Njpz2sow5211E8wXpgglUr7PPRxhOR58uGgzY4D3EBcHCiJAt4s+hmJKCNEJy2Vp1y58Bw==" />
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Server=localhost;Database=TestResultStoreDb;User Id=FourthUser;Password=Ody553u5;" />
  </connectionStrings>
  <appSettings>
    <add key="UserTableName" value="QAPerformanceTestRuns" />
    <add key="StorageConnectionString" value="UseDevelopmentStorage=true" />
    <add key="AzureAccountName" value="portalvhdsdxdxlxw4wbnn1" />
    <add key="AzureKeyValue" value="pSt5iXH+Aqzrpk/2jAq9IplOpl0eH+r/z3HVKoWyZlQ0r/OErxk1UQ+uywHRcSuPKu0eXEbph7yIy2JUp8sXcA==" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>